* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
     --white: #F9F9F9;
     --white-200: #EBE9EA;
     --gary: #474747;
     --black-gray: #181818;

     --montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--montserrat);
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.descont {
    width: 100%;
    height: 60px;
    background-color: var(--black-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.descont h2 {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.title {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: var(--black-gray);
    font-size: 24px;
    font-weight: 600;
}

.home {
    background-image: url(img/bg-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 378px;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 378px;
}

.home__title {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    padding-top: 129px;
    padding-bottom: 19px;
}

.home__description {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.products__title {
    color: var(--black-gray);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 58px;
}

.products__description {
    color: var(--black-gray);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 59px;
}

.box-tennis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 39px 13px;
    margin-bottom: 100px;
}

.tennis {
    background-color: #EBE9EA;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tennis img {
    transition: .3s;
    cursor: pointer;
}

.tennis img:hover {
    transform: scale(1.1);
    transition: .3s;
}

footer {
    width: 100%;
    height: 60px;
    background-color: var(--black-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1220px) {
    .box-tennis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .home {
        background-image: url(img/bg-home-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 378px;
    }

    .box-tennis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 636px) {
    .tennis {
        width: 370px;
    }
}

@media (max-width: 525px) {
    .home__title {
        font-size: 28px;
    }

    .home__description {
        font-size: 16px;
    }

    .products__title {
        font-size: 28px;
    }

    .products__description {
        font-size: 16px;
    }

    .box-tennis {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

}